:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: #E6ECF0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
    postion: absolute;
}
a {
    color: #848487;
}
.top-nav {
    background: #FFF;
}
.nav {
    background-color: #E6ECF0;
    list-style-type:text-right;
    text-align: left;
    padding: 1.5EM;
    margin: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.nav-link {
    color:#3B94D9;
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: #3B94D9;
}
.profile {
    background: #FFF;
}
.btn {
    border: 1px solid #848487;
    color: #848487;
    background: #FFF;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid #FFF;
}
.text-right {
    text-align: right;
}
.text-muted {
    color: #848487;
}
