/* style.css */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    /* Navbar styles */
}

.search-container {
    margin-top: 10px;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

#weather-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.weather-card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #f1f1f1;
}